@import "variaveis.scss";
@import "../public/fonts/fonts.scss";

* {
  font-family: $fontRegular;
  font-size: 14px;
}

@import "../componentes/botao/botao.scss";

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.oculto {
  display: none;
}
